html {
    background-color: rgba(74, 247, 238, 0.151);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    padding-top: 80px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 46px;
    font: bold;
    color: rgba(0, 0, 0, 0.295);
    transition: transform 0.2s ease-in-out;
}

h1:hover {
    transform: scale(1.05);
}

header {
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(87, 216, 255, 0.406);
    padding: 10px 0,
}

.headerbutton {
    appearance: none;
    margin: 0px 10px;
    padding: 15px 35px;
    border: 3px solid rgba(193, 193, 193, 0.571) !important;
    border-radius: 15px;
    font-size: large;
    border: 10px;
    background-color: rgb(255, 255, 255);
    transition: transform 0.2s ease-in-out;
}

.headerbutton:hover {
    transform: scale(1.05)
}

.divider {
    border: none;
    height: 5px;
    background-color: rgba(128, 128, 128, 0.555);
    border-radius: 10px;
    margin: 20px 0;
    width: 95%;
    max-width: 1500px;
}

article {
    border: 1.5px rgb(190, 190, 190) solid;
    border-radius: 7.5px;
    background-color: rgba(87, 216, 255, 0.235);
    text-align: center;
    color: rgba(0, 0, 0, 0.751);
    max-width: 500px;
    transition: transform 0.2s ease-in-out;
    
}

article:hover {
    transform: scale(1.025)
}

.aboutme {
    text-align: center;
}

.nobluelink:link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.808)
}

.nobluelink:visited {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.808)
}

p {
    font-style: normal;
}

li {
    margin: 5px;
    font-size: 18px;
}

.list_learning {
    display: inline-block;
    text-align: left;
    list-style-type: none;
    padding: 0 0 0 5px;
}

article {
    flex: 1;
}

.aboutmesection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.projectlogo {
    margin: 5px 5px;
    border-radius: 10px;
}

.projecttext {
    text-align: center;
    display: flex;
}

.project {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    flex-direction: row;
    width: 95%;
    max-width: 800px;
    margin: 15px 0;
}


.projectname {
    display: flex;
}

.projectinfo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.divlinks {
    display: flex;
    flex-direction: row;
}

.linkproject {
    transition: transform 0.2s;
    margin: 20px;
}

.linkproject:hover {
    transform: scale(1.2);
}

.tiktok-embed {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.tiktokvids {
    display: flex;
    flex-direction: row;
}

.contact-container{
    display: flex;
    flex-direction: column;
}

.contactmelink {
    margin: 5px 10px;
    width: 750px;
    height: 50px;
    border: 3px solid rgba(193, 193, 193, 0.571) !important;
    border-radius: 15px;
    background-color: white;
    transition: transform 0.2s ease-in-out;
    font-size: 28px;
}

.contactmelink:hover {
    transform: scale(1.05);
}

footer {
    background-color: rgba(0, 65, 85, 0.406);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footerlinks {
    color: rgba(33, 33, 33, 0.571)
}